dados_radius_40_Mpc_1.0nG_lc_0.1Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_80_Mpc_100.0nG_lc_10.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_80_Mpc_1.0nG_lc_0.1Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_80_Mpc_1.0nG_lc_10.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_60_Mpc_100.0nG_lc_10.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_60_Mpc_1.0nG_lc_10.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_20_Mpc_1.0nG_lc_10.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_20_Mpc_1.0nG_lc_1.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_40_Mpc_100.0nG_lc_0.1Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_60_Mpc_1.0nG_lc_0.1Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_20_Mpc_100.0nG_lc_0.1Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_20_Mpc_100.0nG_lc_10.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_40_Mpc_0.01nG_lc_10.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_40_Mpc_100.0nG_lc_1.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_20_Mpc_0.01nG_lc_10.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_20_Mpc_100.0nG_lc_1.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_80_Mpc_100.0nG_lc_1.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_80_Mpc_1.0nG_lc_1.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_60_Mpc_100.0nG_lc_0.1Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_80_Mpc_0.01nG_lc_10.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_40_Mpc_1.0nG_lc_1.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_60_Mpc_0.01nG_lc_10.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_60_Mpc_100.0nG_lc_1.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_80_Mpc_100.0nG_lc_0.1Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_40_Mpc_100.0nG_lc_10.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_40_Mpc_1.0nG_lc_10.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_20_Mpc_1.0nG_lc_0.1Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
dados_radius_60_Mpc_1.0nG_lc_1.0Mpc_one_sphere.txt filter=lfs diff=lfs merge=lfs -text
